In [1]:
import pandas as pd
import numpy as np

In [211]:
columns = ['user_id', 'item_id', 'rating', 'time_stamp']
u1_base = pd.read_csv('./data/u1.base', sep='\t', names=columns)
u1_test = pd.read_csv('./data/u1.test', sep='\t', names=columns)

In [212]:
u1_base

       user_id  item_id  rating  time_stamp
0            1        1       5   874965758
1            1        2       3   876893171
2            1        3       4   878542960
3            1        4       3   876893119
4            1        5       3   889751712
...        ...      ...     ...         ...
79995      943     1067       2   875501756
79996      943     1074       4   888640250
79997      943     1188       3   888640250
79998      943     1228       3   888640275
79999      943     1330       3   888692465

[80000 rows x 4 columns]

In [213]:
u1_test

       user_id  item_id  rating  time_stamp
0            1        6       5   887431973
1            1       10       3   875693118
2            1       12       5   878542960
3            1       14       5   874965706
4            1       17       3   875073198
...        ...      ...     ...         ...
19995      458      648       4   886395899
19996      458     1101       4   886397931
19997      459      934       3   879563639
19998      460       10       3   882912371
19999      462      682       5   886365231

[20000 rows x 4 columns]

In [54]:
# get sparse matrix
user_rating = u1_base.drop('time_stamp', axis=1)
user_item_rating = user_rating.pivot_table('rating',index='user_id', columns='item_id').fillna(0)
user_item_rating

item_id,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user_id,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,4.0,3.0,3.0,0.0,4.0,1.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
940,0.0,0.0,0.0,2.0,0.0,0.0,4.0,5.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
941,5.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
942,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
943,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### item-based collaborative filltering
* 아이템간 유사도 측정
* user - item 의 rating을 측정한다
    * user가 rating 한 item들을 유사도 순으로 나열
    * 해당 rating들을 평균 내서 결정

In [56]:
from sklearn.metrics.pairwise import cosine_similarity

In [195]:
# cosine similarity
item_cs_array = cosine_similarity(user_item_rating.T)

In [196]:
# item correlation
item_index = user_item_rating.columns
item_cs_df = pd.DataFrame(item_cs_array, index=item_index, columns=item_index)
item_cs_df

item_id,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
item_id,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.357646,0.309390,0.373556,0.233597,0.088069,0.542065,0.410063,0.421738,0.235267,...,0.038276,0.0,0.000000,0.000000,0.038276,0.0,0.0,0.0,0.051035,0.051035
2,0.357646,1.000000,0.221600,0.419180,0.282711,0.084006,0.334544,0.285908,0.192594,0.119709,...,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.087781,0.087781
3,0.309390,0.221600,1.000000,0.262853,0.144386,0.078189,0.307612,0.186519,0.288698,0.147544,...,0.000000,0.0,0.000000,0.000000,0.035556,0.0,0.0,0.0,0.000000,0.106668
4,0.373556,0.419180,0.262853,1.000000,0.273416,0.099500,0.402405,0.399622,0.339125,0.184911,...,0.000000,0.0,0.104416,0.104416,0.041766,0.0,0.0,0.0,0.062650,0.083533
5,0.233597,0.282711,0.144386,0.273416,1.000000,0.017107,0.275840,0.184932,0.206313,0.039897,...,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.105021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1678,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,1.0,1.0,1.0,0.000000,0.000000
1679,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,1.0,1.0,1.0,0.000000,0.000000
1680,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,1.0,1.0,1.0,0.000000,0.000000
1681,0.051035,0.087781,0.000000,0.062650,0.000000,0.000000,0.058259,0.092355,0.064059,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,1.000000,0.000000
1682,0.051035,0.087781,0.106668,0.083533,0.105021,0.000000,0.058259,0.000000,0.080074,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,1.000000

In [205]:
def expect_user_item_rating(user_id, item_id):
    user_rating = user_item_rating.loc[user_id]
    item_corr = item_cs_df[item_id]
    
    rating_corr = pd.DataFrame([user_rating, item_corr], index=['rating', 'correlation']).T
    top_rating = rating_corr[rating_corr['rating'] > 0].sort_values('correlation', ascending=False).head(10)
    
    values = top_rating['rating'].values
    weight = top_rating['correlation'].values
    
    return np.dot(values, weight) / sum(weight)

In [220]:
user_rating = user_item_rating.loc[1]
item_corr = item_cs_df[6]

rating_corr = pd.DataFrame([user_rating, item_corr], index=['rating', 'correlation']).T
top_rating = rating_corr[rating_corr['rating'] > 0].sort_values('correlation', ascending=False).head(10)
top_rating['rating'].values

array([5., 5., 5., 3., 4., 5., 4., 5., 5., 5.])

In [216]:
user_item_pair = u1_test.drop(['time_stamp', 'rating'], axis=1)
user_item_pair

       user_id  item_id
0            1        6
1            1       10
2            1       12
3            1       14
4            1       17
...        ...      ...
19995      458      648
19996      458     1101
19997      459      934
19998      460       10
19999      462      682

[20000 rows x 2 columns]

In [224]:
result = []
for idx, user_id, item_id in user_item_pair.itertuples():
    if item_id in user_item_rating.columns:
        result.append(expect_user_item_rating(user_id, item_id))
    else:
        result.append(0)

In [228]:
user_item_pair['rating'] = result
user_item_pair

       user_id  item_id    rating
0            1        6  4.606744
1            1       10  4.458796
2            1       12  4.274307
3            1       14  4.741659
4            1       17  3.294191
...        ...      ...       ...
19995      458      648  3.680852
19996      458     1101  3.704859
19997      459      934  3.296993
19998      460       10  3.783933
19999      462      682  3.782052

[20000 rows x 3 columns]

In [232]:
original = u1_test['rating'].values
original

array([5, 3, 5, ..., 3, 3, 5])

In [233]:
sum = 0
for p, o in zip(result, original):
    sum += pow(p - o, 2)

In [234]:
pow(sum / len(original), 0.5)

0.9962750987572773